body {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	user-select: none;
}
* {
	user-select: none;
}

a {
	color: #00eeee;
}

body * {
	font-size: inherit;
}

main {
	padding: 2.5em;
	margin: 0;
	background-color: #000000;
	color: #fff;
	display: block;
	height: 100vh;
}

span.count-span {
	display: block;
	text-align: right;
	font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
	font-size: 2.5em;
	border: 5px solid #f00;
	padding: 15px 25px;
}

button {
	display: inline-block;
	padding: 10px;
	background-color: #555555;
	border: 10px ridge #aaaaaa;
	color: inherit;
}
button:hover {
	border-color: #cccccc;
	transform: scale(1.125);
}
button:focus {
	border-color: #cccccc;
	transform: scale(1.125);
}
button:active {
	border-color: #cccccc;
	transform: scale(1.125);
}
button#addpotato-btn {
	font-size: 2em;
}

img.potato-img {
	display: inline;
	height: 1em;
	vertical-align: middle;
}

article {
	font-size: 0.8em;
	width: 20em;
	background-color: #777777;
	color: #fff;
	padding: 2.5em;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	display: block;
	overflow: scroll;
}
button#open-help-btn {
	position: absolute;
	right: 15px;
	bottom: 10px;
	color: #000;
	background-color: #cccccc;
	border: 10px groove #aaaaaa;
}
article > button#close-help-btn {
	height: fit-content;
	float: right;
	border: unset;
	padding: 0;
	margin: 0;
	background-color: unset;
}
article > button#close-help-btn:hover {
	transform: scale(1.5);
}
article > button#close-help-btn:focus {
	transform: scale(1.5);
}
article > button#close-help-btn:active {
	transform: scale(1.5);
}
article > button#close-help-btn > img#close-help-img {
	height: 2.5em;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

span.code {
	font-family: 'Source Code Pro', 'Ubuntu Mono', monospace;
	font-size: inherit;
	padding: 0;
	margin: 0;
}

div.animateStats {
	background-color: #fff;
	color: #000;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2.5em;
	text-align: center;
}